:h1 {font-size:1.25rem;} /*1rem = 16px*/

@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
}

h2 {font-size:1rem;} /*1rem = 16px*/

@media (min-width: 544px) {  
  h2 {font-size:1.25rem;} /*1rem = 16px*/
}
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h2 {font-size:1.5rem;} /*1rem = 16px*/
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h2 {font-size:1.75rem;} /*1rem = 16px*/
}
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h2 {font-size:2rem;} /*1rem = 16px*/    
}

h6 {font-size:0.60rem;} /*1rem = 16px*/

@media (min-width: 544px) {  
  h6 {font-size:0.7rem;} /*1rem = 16px*/
}
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h6 {font-size:0.8rem;} /*1rem = 16px*/
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h6 {font-size:0.80rem;} /*1rem = 16px*/
}
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h6 {font-size:1.25rem;} /*1rem = 16px*/    
}

h4 {font-size:1rem;} /*1rem = 16px*/

@media (min-width: 544px) {  
  h4 {font-size:0.85rem;} /*1rem = 16px*/
}
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h4 {font-size:1rem;} /*1rem = 16px*/
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h4  {font-size:1.25rem;} /*1rem = 16px*/
}
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h4 {font-size:1.5rem;} /*1rem = 16px*/    
}

p {font-size:1rem;} /*1rem = 16px*/

@media (min-width: 544px) {  
  p {font-size:0.3rem;} /*1rem = 16px*/
}
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  p {font-size:0.60rem;} /*1rem = 16px*/
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  p {font-size:0.90rem;} /*1rem = 16px*/
}
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  p {font-size:1rem;} /*1rem = 16px*/    
}